body {
	background-color: #121212;
	color: #FFFFFF;
	font-family: Arial, Helvetica, "sans-serif";
}
/* common */
button.btnBlue_32x180 {
	background: #79CAD4;
	border-color: #79CAD4;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 600;
	height: 32px;
	width: 180px;
}
button.btnBlue_32x180:hover {
	background: #426CA7;
	border-color: #426CA7;
	color: #F0F0F0;
}
button.bunGley_28x100 {
	background: #fffafa;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	height: 28px;
	width: 120px;
}
button.bunGley_28x100:hover {
	background: #dddada;
}
button.perple_40x280 {
	background: #AEADFF;
    border-color: #AEADFF;
	border-radius: 5px;
    color: #0000FF;
	font-size: 16px;
	font-weight: 400;
    height: 40px;
    text-align: left;;
    width: 280px;
}
button.perple_40x280:hover {
	background:#4E4DEF;
    color: #FFFFFF;
}
button.yellow_40x280 {
	background: #AFAF30;
    border-color: #AFAF30;
	border-radius: 5px;
    color: #000000;
	font-size: 16px;
	font-weight: 400;
    height: 40px;
    text-align: left;;
    width: 280px;
}
button.yellow_40x280:hover {
	background:#4F4F20;
    border-color: #4F4F20;
    color: #FFFFFF;
}
button.perple_50x280 {
	background: #AEADFF;
    border-color: #AEADFF;
	border-radius: 5px;
    color: #0000FF;
	font-size: 16px;
	font-weight: 400;
    height: 72px;
    text-align: left;;
    width: 280px;
}
button.perple_50x280:hover {
	background:#4E4DEF;
    color: #FFFFFF;
}
/* Top Page*/
div.TopBase {
	position: relative;
	height: 95vh;
	color: #000000;
}
div.TopContainer {
	position: absolute;
	width: 60%;
	height: 200px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display: grid;
	grid-template-rows: auto 40px;
	grid-template-columns: 60% auto;
	grid-column-gap: 2px;
	grid-template-areas:
		"notice login"
		"morenotice regist";
}
div.TopNotice {
	background: #F0F0F0;
	grid-area: notice;
	overflow: scroll;
	padding-left: 30px;
	padding-top: 5px;
}
div.TopNotice > ul {
	list-style-type:square;
}
div.TopNotice > ul > li {
	margin-bottom: 2px;
	margin-left: -40px;
	padding-bottom: 2px;
	padding-top: 2px;
}

div.TopMoreNotice {
	background: #F0F0F0;
	grid-area: morenotice;
	padding-left: 15px;
}
div.TopLogin {
	background: #F0F0F0;
	grid-area: login;
}
div.TopLogin > form {
	margin-left: 15px;
	margin-top: 30px;
}
div.TopLogin > form > ul > li {
	padding-bottom: 15px;
}
div.TopNewRegist {
	background: #F0F0F0;
	grid-area: regist;
	padding-right: 30px;
	text-align: right;
}

/* MyPage */
div.BaseContainer {
	display: grid;
	grid-template-rows: 23px auto 27px;
	grid-template-columns: 330px auto;
	grid-template-areas:
		"header_l header_r"
		"sidemenu WorkContainer"
		"footer footer";
	height: calc(100vh - 15px);
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
div.header_l {
	grid-area: header_l;
    text-align: left;
}
div.header_r {
	display: table-cell;
	grid-area: header_r;
    text-align: right;
    margin: 0 0 0 auto;
}
div.sidemenu {
	background: #000000;
	grid-area: sidemenu;
	overflow: scroll;
}
div.workcontainer {
	grid-area: WorkContainter;
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto;
	grid-template-areas:
		"cmarea"
		"mainwork"
		"funcarea";
}
div.cmarea {
	background: #292929;
	grid-area: cmare;
	height: 60px;
	text-align: center;
	vertical-align: middle;
}
div.mainwork {
	background: #000000;
	grid-area: mainwork;
	height: calc(100vh - 150px);
	overflow: scroll;
}
div.funcarea {
	background: #000000;
	grid-area: funcarea;
	height: 36px;
	text-align: right;
}
div.footer {
	grid-area: footer;
	background: #000000;
	text-align: center;
}
fieldset.smGrouping {
	width: 88%;
}
fieldset.smGrouping > legend {
	font-weight: bold;
}
fieldset.smGrouping > ul {
	list-style-type: none;
}
fieldset.smGrouping > ul > li {
	border-radius: 3px;
	font-weight: bold;
	margin: 0 auto 0 -43px;
	padding: 3px 5px 3px 5px;
}
fieldset.smGrouping > ul > li:hover {
	color: #FFFFFF;
	margin: 0 auto 1px -43px;
}

/* Header Menu */
.ddmenu {
	display: flex;
}
.menu {
	text-align: center;
	width: 200px;
}
.mtitle {
	background: #4366F3;
	color: #ffffff;
}
.smenu {
	background:#68D1EC;
	display: none;
	position: relative;
}
.smenu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200px;
}
.smenu > ul > li:hover {
	background: #F790ED;
}

.smenu > ul > li > a {
	color: #ffffff;
	text-decoration: none;
}
.menu:hover .smenu {
  display: inline-block;
}
